{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} <link rel="stylesheet" href="{% static 'qa_system/reset.css' %}"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'qa_system/form.css' %}">    
    <title>Multi-type question answering system</title>
</head>
<body>
    <div>
        <h1>Multi-type question answering system</h1>
    </div>
    <form action="{% url 'qa_system:algorithm' %}" method="post">
        {% csrf_token %}
        <div>
        <ul>
            <div>
                <legend><h1>Medical Record:</h1></legend>
            </div>
            <div>
                {% if information_cache %}
                    <input type="text", id="information", name='textfield', value={{information_cache}}>
                {% endif %}
                {% if not information_cache %}
                    <input type="text", id="information", name='textfield' placeholder="Write medical report">
                {% endif %}
            </div>
            <div>
                <legend><h1>Question:</h1></legend>
            </div>
            <div>
                {% if question_cache %}
                    <input type="text", id="question", name='questionfield', value={{question_cache}}>
                {% endif %}
                {% if not question_cache %}
                    <input type="text", id="question", name='questionfield' placeholder="Search...">
                {% endif %} 
            </div>
            <br>
            {% comment %} <fieldset><input type="submit", value='Submit'></fieldset> {% endcomment %}
            <button type="submit">Submit</button>
            
            {% if error_message %}
                <p><strong>{{error_message}}</strong></p>
            {% endif %}             
            
            {% if answer %}
                <div>
                    <div>
                        <legend><h1>Context:</h1></legend>
                    </div> 
                    <div>
                        <figure style="margin-bottom: 1rem">
                            <div class="entities" style="line-height: 2.5; direction: ltr">                        
                                <p>
                                    {{contextp1}}
                                    <mark class="entity" style="background: #aa9cfc; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
                                        <strong>{{answer}}</strong>
                                    </mark>
                                    {{contextp2}}
                                </p>
                            </div>
                        </figure>                            
                    </div>     
                    <div>
                        <legend><h1>Answer:</h1></legend>
                    </div>        
                    <div>
                        <strong>{{answer}}</strong>
                    </div>
                    <br>
                    <div>
                        <strong>Start: </strong>{{start_point}}
                    </div>
                    <br>
                    <div>
                        <strong>End: </strong>{{end_point}}
                    </div>                      
                    <br>                      
                    <div>
                        <strong>Score: </strong>{{score}}
                    </div>                    
                </div>    
                <br>
                <br> 
                
                <table class="default">

                    <tr>
                  
                      <th rowspan="2">Answer</th>
                  
                      <th colspan="3">NER models</th>
                  
                    </tr>
                  
                    <tr>
                  
                      <th><a href="{% url 'qa_system:displacy1_view' %}" target="_blank" rel="noopener noreferrer">{{model1_name}}</a></th>
                  
                      <th><a href="{% url 'qa_system:displacy2_view' %}" target="_blank" rel="noopener noreferrer">{{model2_name}}</a></th>
                  
                      <th><a href="{% url 'qa_system:displacy3_view' %}" target="_blank" rel="noopener noreferrer">{{model3_name}}</a></th>
                  
                    </tr>

                    <tr>
                  
                      <td>
                        <strong>{{answer}}</strong>
                        <br>
                        <strong>Start: </strong>{{start_point}}
                        <br>
                        <strong>End: </strong>{{end_point}}                     
                        <br>   
                        <strong>Score: </strong>{{score}}
                      </td>
                  
                      <td>
                        {% for entity in entities1 %}
                            <ul><p>{{entity}}</p></ul>                          
                        {% endfor %}                          
                      </td>
                  
                      <td>
                        {% for entity in entities2 %}
                            <ul><p>{{entity}}</p></ul>                          
                        {% endfor %}                             
                      </td>
                  
                      <td>
                        {% for entity in entities3 %}
                            <ul><p>{{entity}}</p></ul>                          
                        {% endfor %}                            
                      </td>
                  
                    </tr>                    
                  
                  </table>                


            {% endif %}
        </ul>
        </div>
    </form>
</body>
</html>